* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}
/* new added on top */
.main ul {
  list-style-type: none;
}

.main li {
  display: inline-block;
  padding-top: 1%;
  margin-right: 5%;
}

.header {
  width: 30%;
  float: left;
  margin: 0;

}

.nav {
  width: 70%;
  float: left;
  text-align: right;
  margin: 0;

}
ul li a {
  text-decoration: none;
  color: black;
  font-family: "arial";
}
ul li a:hover {
  color: #007BFF;
}
.container {
  width: 100%;
  height: 100%;
  margin: auto;

}

.main {
  height: 80px;
  background-color: white;
}

body {
  margin: 0;
}

* {
  font-family: calibri;
}

.division {
  height: 300px;
  padding-right: 20%;
}

.p {
  width: 23%;
  display: inline-block;
}

.p img {
  width: 50px;
  margin: 0;
  padding: 6px;
  background-color: #319ad7;
  border-radius: 50%;
  display: inline-block;

}

#banner {
  height: 500px;
  background-image: url(laptop\ header\ image.png);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: white;
  margin: 0;
}

#banner h1 {
  margin: 0;
  padding-top: 5%;
  font-size: 3.5rem;
}

#banner p {
  font-size: 18px;
  padding-top: 1%;
  line-height: 25px;
  padding-left: 35%;
  padding-right: 35%;
}

.division h4 {
  color: #3696dc;
}

.products h1 {
  margin-left: 0.5%;
  height: 8%;
}

.h1 {
  width: 30%;
  float: left;
  margin-right: 1%;
  padding: 1%;

}

h2 {
  margin: 0;
}

.box {
  width: 100%;
  margin: 0%;
  display: inline-block;
  margin-left: 18%;
  padding-top: 5%;
}

h4 {
  margin: 0;
}

.header h2 {
  padding-top: 5%;
  padding-left: 10%;
}

.pandh1 {
  padding-left: 10%;
}

.view-more {
  background-color: white;
  border: 2px solid white;
  color: #333;
  padding: 14px 28px;
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
  display: inline-block;
  width: 40%;
  border-radius: 5px;
}

.lorem1 {
  padding-top: 10%;
}


.products {
  background-color: rgb(235, 235, 235);
  padding: 0;
}


.sections {
  height: 400px;
  width: 100%;
  margin-bottom: 50px;
}

.r {
  width: 45%;
  float: left;
  margin: 0 2.5%;
}

.r img {
  width: 82%;
  height: auto;
  margin: 0;
  padding: 0;
  padding-top: 3%;
}

.sect {
  width: 100%;
  font-family: Calibri;
}


#newspage {
  margin-left: 12%;
}


.hi {
  display: inline-block;
  width: 25%;
  height: 220px;
  text-align: center;
  background: #fff;
  box-sizing: border-box;
  padding: 15px 0;
  margin: 0;
}

.hi img {
  width: 150px;
  height: 140px;
  margin-top: 10px;
  margin-left: 5%;
}

.hi.black {
  background: #000;
  color: #fff;
  margin-right: 12%;
}

.news-section {
  width: 100%;
  text-align: center;
  font-size: 0;
  background: #f9f9f9;
  padding: 40px 0;
  font-family: Calibri;
}

.news-column {
  display: inline-block;
  vertical-align: top;
  width: 30%;
  margin: 0 1%;
  font-size: 14px;
  text-align: left;
  box-sizing: border-box;
  padding: 4px;
}

.section-header {
  font-size: 0;
  margin-bottom: 10px;
}

.section-header h2,
.section-header a {
  display: inline-block;
  font-size: 20px;
  margin: 0;
}

.section-header h2 {
  font-weight: bold;
  color: #000;
  margin-right: 8px;
  padding-left: 4%;
  padding-right: 3%;
  border-bottom: 7px solid whitesmoke;
  padding-bottom: 5px;
}

.section-header a {
  font-size: 15px;
  text-decoration: none;
  color: black
}


.news-box {
  background: #fff;
  padding: 10px;
  border-radius: 6px;
}

.news-box img {
  width: 100%;
  height: 200px;
  object-fit: cover;

}

.news-item h4 {
  color: #0073e6;
  font-size: 1.2rem;
}

.news-section p {
  font-size: 1.2rem;
}

.news-section a {
  color: black;
  text-decoration: none;
}

.arrow
        {
            position: fixed;
            right: 1.5%;
            bottom: 1.5%;
            background-color: #007BFF;
            border-radius: 100%;
            padding: 10px;
        }
#footer
{
    height: 289px;
    background-color: #F4F4F4;
    color: black;
    /* padding-top: 15px; */
   
}
.ft1
{
    width: 20%;
    float: left;
    margin-right: 3%;
    margin-left: 13%;
    margin-top: 15px;
}
.ft1 h3
{
    color: #007BFF;
    margin-left: 8%;
}
.ft1 p{
             margin-left: 8%;
}
.ft2
{
    width: 10%;
    float: left;
    margin-right: 3%;
    margin-top: 15px;
}
.ft2 p{
             margin-left: 8%;
}
.ft2 h3
{
    color: #007BFF;
    margin-left: 8%;
}
.ft3
{
    width: 20%;
    float: left;
    margin-right: 3%;
    margin-top: 15px;
}
.ft3 h3
{
    color: #007BFF;
    margin-left: 8%;
}
.ft3 ul
{
    list-style-type: none;
    padding-left: 0;
    float: left;
    margin-top: 0;
    line-height: 25px;
    margin-left: 8%;
}
.ft4
{
    width: 20%;
    float: left;
    margin-left: 1%;
    margin-top: 15px;
}
.ft4 img
{
    height: 30px;
    width: 30px;
    margin-right: 15px;
}
.ft4 h3
{
    color: #007BFF;
    margin-left: 5%;
}
.fb{
         margin-left: 5%;
}
.ul1
{
    width: 40%;
}
.ul2
{
    width: 60%;
}

