* {
  box-sizing: border-box;
}
html,body{
             overflow-x: hidden;
          
}
img {
  max-width: 100%;
}

nav {
  position: fixed;
  height: 80px;
  width: 100%;
  background: #f5f5f5;
  padding: 15px 40px;
  text-transform: uppercase;
  display: flex;
  gap: 36%;
  align-items: center;

}

.home-active {
  color: #007BFF;
}

.logo {
  color: #011627;
  font-size: 24px;
  font-weight: 600;
  margin-left: 7%;
}

a {
  color: #696687;
  font-weight: 600;
  text-decoration: none;
}

a:hover {
  color: #007BFF;
}

.nav-links {
  display: flex;
  gap: 35px;
}

.container {
  width: 100%;
  height: 100%;
  margin: auto;

}

.main {
  height: 80px;
  background-color: white;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: calibri;
}

.division {
  height: 300px;
  padding-right: 20%;
}

.p {
  width: 23%;
  display: inline-block;
}

.p img {
  width: 50px;
  margin: 0;
  padding: 6px;
  background-color: #319ad7;
  border-radius: 50%;
  display: inline-block;

}

#banner {
  height: 500px;
  background-image: url(laptop\ header\ image.png);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: white;
  margin: 0;
}

#banner h1 {
  margin: 0;
  padding-top: 10%;
  font-size: 3.5rem;
}

#banner p {
  font-size: 18px;
  padding-top: 1%;
  line-height: 25px;
  padding-left: 35%;
  padding-right: 35%;
}

.division h4 {
  color: #3696dc;
}

.products h1 {
  margin-left: 0.5%;
  height: 8%;
}

.h1 {
  width: 30%;
  float: left;
  margin-right: 1%;
  padding: 1%;

}

h2 {
  margin: 0;
}

.box {
  width: 100%;
  margin: 0%;
  display: inline-block;
  margin-left: 18%;
  padding-top: 5%;
}

h4 {
  margin: 0;
}

.header h2 {
  padding-top: 5%;
  padding-left: 10%;
}


.lorem1 {
  padding-top: 10%;
}


.products {
  background-color: rgb(235, 235, 235);
  padding: 0;
}

.container1 {
  background-color: #F4F4F4;
  height: 830px;

}

.pandh1 {
  padding-left: 10%;
}

.pandh1 img {
  margin-right: 6%;
  height: 500px;
  margin-top: 5%;
}

.view-more {
  background-color: white;
  border: 2px solid white;
  color: #333;
  padding: 14px 28px;
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
  display: inline-block;
  width: 15%;
  border-radius: 5px;
}

.lorem1 {
  padding-top: 10%;
}

.lorem2 {
  width: 500px;
}

footer {
  height: 380px;
  background-color: #F4F4F4;
  color: black;
  display: flex;
  width: 100%;
}

.footerpart1 {

  margin-left: 10%;
  width: 330px;
}
.footerpart1 h3{
           color: #007BFF;
               margin-top: 50px;
}
.contactinfo {
  margin-left: 5%;
}
.contactinfo h3{
              color: #007BFF;
                  margin-top: 50px;
}
.timings{
              margin-left: 5%;
}
.timings ul{
                   list-style-type: none;
                  
}
.timings h3{
              color: #007BFF;
              margin-left: 35px;
                  margin-top: 50px;
}
.sociallinks{
             margin-left: 5%;
}
.sociallinks h3{
            color: #007BFF;
              margin-left: 35px;
                  margin-top: 50px;
}
.sociallinks a img{
                    height: 30px;
    width: 30px;
}
.icons{
                margin-left: 35px;
}
.twitter{
            margin-left: 15px;
}
.instagram{
               margin-left: 15px;
}
.sect {
  width: 100%;
  font-family: Calibri;
  display: flex;
}


#newspage {
  margin-left: 12%;
}


.hi {
  display: inline-block;
  width: 25%;
  height: 220px;
  text-align: center;
  background: #fff;
  box-sizing: border-box;
  padding: 15px 0;
  margin: 0;
}

.hi img {
 width: 150px;
    height: 140px;
    margin-top: -20px;
    margin-left: 2%;
}

.hi.black {
  background: #000;
  color: #fff;
  margin-right: 12%;
}


.arrow {
  position: fixed;
  right: 1.5%;
  bottom: 1.5%;
  background-color: #007BFF;
  border-radius: 100%;
  padding: 10px;
}

.news-section {
  width: 100%;
  text-align: center;
  font-size: 0;
  background: #f9f9f9;
  padding: 40px 0;
  font-family: Calibri;
}

.news-column {
  display: inline-block;
  vertical-align: top;
  width: 30%;
  margin: 0 1%;
  font-size: 14px;
  text-align: left;
  box-sizing: border-box;
  padding: 4px;
}

.section-header {
  font-size: 0;
  margin-bottom: 10px;
}

.section-header h2,
.section-header a {
  display: inline-block;
  font-size: 20px;
  margin: 0;
}

.section-header h2 {
  font-weight: bold;
  color: #000;
  margin-right: 8px;
  padding-left: 4%;
  padding-right: 3%;
  border-bottom: 7px solid whitesmoke;
  padding-bottom: 5px;
}

.section-header a {
  font-size: 15px;
  text-decoration: none;
  color: black
}


.news-box {
  background: #fff;
  padding: 10px;
  border-radius: 6px;
}

.news-box img {
  width: 100%;
  height: 200px;
  object-fit: cover;

}

.news-item h4 {
  color: #0073e6;
  font-size: 1.2rem;
}

.news-section p {
  font-size: 1.2rem;
}

.news-section a {
  color: black;
  text-decoration: none;
}
.readmore{
      margin-left: 5%;
}
/* responsiveness */
/*medium devices*/
@media only screen and (min-width:769px) and (max-width:1199px) {
  footer {
    height: 455px;
  }
  .footerpart1 {
    margin-left: 6%;
    width: 330px;
  }
.twitter{
            margin-left: 10px;
}
.instagram{
               margin-left: 10px;
}
.container1 .pandh1{
                 font-size: 15px;
}
.view-more{
               width: 20%;
}
.pandh1 img {
    height: 500px;
    margin-top: 5%;
    margin-right: 0;
}
#banner h1{
         margin: 0;
    padding-top: 12%;
    font-size: 3.5rem;
}
nav{
             gap: 22%;
}
.box{
                    margin-left: 13%;
        display: flex;
        gap: 9%;
}
.sect{
           margin-top: 5%;
}
.news-section p{
  font-size: 18px;
  }
}
/*small devices*/
@media only screen and (max-width:768px) {

    .logo{
           margin-left: 0;
           font-size: 1em;
    }    
  nav{
          
    height: 60px;
    width: 100%;
            gap: 8%;
         }
         .nav-links{
                 gap: 10%;
                margin-top: 14%;
         }
         #banner {
                        height: 400px;
         }
         #banner p{ 
                        padding-left: 5%;
                        padding-right: 5%;
         }
          #banner h1 {
                         margin: 0;
                         padding-top: 20%;
                         font-size: 2.5rem;
             }
             .division{
                      height: 230px;
             }
             .box{
                        /* margin-left: 5%; */
                         display: flex;
                         justify-content: center;
                          gap: 8%;
                          font-size: 10px;
             }
             .box h4{
                           font-size: 15px;
             }
       
             .pandh1{
                     margin-left: 5%;
                     padding-left: 0;
                     font-size: 10px;
             }
             .lorem2{
                      
                           font-size: 14px;
                           margin-left: 1%;
                           width: 300px;
                         
             }
             .pandh1 img{
                            height: 200px;
                            margin-top: 5%;
                         
             }
             .pandh1lorem{
                          
                            margin-left: 1%;
                            font-size: 2.0rem;
             }
           #lorem1p{
                            margin-left: 1%;
                            font-size: 15px;
           }
           .view-more {
     padding-left: 0;
     padding-right: 5px;
     width: 28%;
     text-align: center;
     margin-top: 0;
  } 
  .sect{
            margin-top: 8%;
             width: 520px;        
  }
  .hi{
               width: 800px;
  }
  .hi h1{
                 font-size: 1.6rem;
  }
 #newspage{
             margin-left: 8%;
 }
 .news-section{
             padding-top: 8%;
            
 }
 .news-column{
                     width: 100%;
                     display: block;
 }
 .news-box img {
                       height: 250px;
 } 
footer{
                     height: auto;
                     display: block;
                    
 }
 .footerpart1{
              margin-left: 8%;
 }
 .footerpart1 h3{
                            font-size:2.1rem;  
                             
 }
 .contactinfo{
            margin-left: 8%;
 }
  .timings{
            margin-left: 0;
 }
  .sociallinks{
            margin-left: 0;
            padding-bottom: 5%;
          
 }
 .contactinfo h3{
                             font-size: 2.1rem;
                          
 }
  .contactinfo p{
                             font-size: 1.6rem;
                           
                            
 }
 .footerpart1 p{
                        font-size: 1.6rem;
                         width: 385px;
                       
 }

 .timings h3{
                       font-size: 2.1rem;
 }
 .timings ul li{
                 font-size: 1.6rem;
 }
  .timings .tminfo li{
                   font-size: 1.6rem;
                 
                 
 }
 .sociallinks h3{
                          font-size:2.1rem;
 }
   .news-item h4{
                     font-size: 2rem;
   }
      .twitter{
                      margin-left: 5%;
      }
      .facebook{
                      margin-left: 5%;
      }
}